/*Foglio di stile CSS*/

/*colore per tutti i titoli delle categorie*/
.orange-title {
    color: rgb(255, 145, 0);
    font-size: 25px;
}

/*Modifica dimensione immagine*/
.image-dimension{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25%;
    width: 25%;
}

/*allineamento di tutto quello all'interno dell footer*/
footer {
    text-align: center;
    font-size: 0.9em;
}

/*Bordo arancione*/
 .profilo{
    border-color: rgb(255, 157, 0);
    border-bottom-style: solid;
    border-width: medium;
    background-color: #f5f5f5;
}

/*Bordo arancione più fine*/
.Orange-bord{
    border-color: rgb(255, 157, 0);
    border-bottom-style: solid;
    border-width: 2px;
}

/*corsivo*/
.corsivo {
    font-style: italic;
  }

/*Pallino Pinco*/
.pallino{
    text-align: center;
    font-size: 2.3em;
}

/*margine cv*/
.foglio-a-4{
    margin-left: 500px;
    margin-right: 500px;
}