/*Foglio di stile CSS*/

/*colore per tutti i titoli delle categorie*/
.orange-title {
    color: rgb(255, 145, 0)
}

/*Modifica dimensione immagine*/
.image-dimension{
    height: 12%;
    width: 12%;
}

/*allineamento di tutto quello all'interno dell footer*/
footer {
    text-align: center;
}